$brand-color: #A23237;
$white: #FFF;
$dark: #CCC;
$black: #000;
$bgcolor-1: #4e3d3d;
$dark-blue: #184F6E;
$bgcolor-2: #576475;
$carousel-bg: #9FA2A7;
$gallery-bg: #F0EFEA;
$gallery-font: #666;;
$footer-top: #3C3C3C;
$footer: #565656;
$border: #eee;
$rounded-div-bg: #f4f5f5;