$title-font: 'Amatic SC', cursive;
$body-font: 'Roboto Condensed', sans-serif;
$regular-font: 12px;
$sub-title: 16px;
$text: 14px;
$heading-one: 5vw;
$heading-two: 3vw;
$heading-one-mobile: 8vw;
$heading-two-mobile: 6vw;
// media queries
$small-devices: 600px; //max width
$tablets: 601px; // min width
$landscape-tablets: 768px; //min width
$large-devices: 992px; //min width
$extra-large: 1200px; //min width